@import 'src/styles/main.scss';

.wrapper{
    margin-top: $grid-margin-height;
    margin-bottom: $grid-margin-height;
    margin-left: $grid-margin-width;
    margin-right: $grid-margin-width;
}

    table{
        width: calc(100%);
        border-collapse: collapse;
    }

        .mat-paginator-container{
            padding: 0;
        }
    