<div>
    <div *ngIf="isVisible" class="glass" [ngClass]="{ 'active' : isGlassEffect }"></div>
    <nav *ngIf="isVisible" class="navbar navbar-light">
        <div routerLink="/" class="einvoice-logo-wrapper d-flex align-items-center">
            <svg class="einvoice-logo"></svg>
            <h5 class="fw-bold brand">e-invoice</h5>
        </div>
        <div class="nav-items d-flex flex-row align-items-center">
            <span class="nav-item" *ngIf="roles.includes('realm-admin')" [ngClass]="selectedButton == 'users' ? 'nav-item-selected' : 'nav-item'" (click)="selectButton('users')" [routerLink]="['/users']">Users</span>
            <span class="nav-item" *ngIf="roles.includes('realm-admin') || roles.includes('ROLE_ADMIN')" [ngClass]="selectedButton == 'companies' ? 'nav-item-selected' : 'nav-item'" (click)="selectButton('companies')" [routerLink]="['/companies']">Companies</span>
            <span class="nav-item" (click)="logout()">Log out</span>
        </div>
        <svg class="navbar-menu" (click)="toggleDropdownMenu()"></svg>
    </nav>
    <div class="mobile-nav">
        <div class="overlay" [ngClass]="{'overlay-visible' : dropdownMenuVisible}" (click)="toggleDropdownMenu()"></div>
        <div class="nav-items-mobile d-flex flex-column" [ngClass]="{'nav-items-mobile-visible' : dropdownMenuVisible}">
            <span class="nav-item-mobile mt-2" *ngIf="roles.includes('realm-admin')" [routerLink]="['/users']">Users</span>
            <span class="nav-item-mobile" *ngIf="roles.includes('realm-admin') || roles.includes('ROLE_ADMIN')" [routerLink]="['/companies']">Companies</span>
            <span class="nav-item-mobile" (click)="logout()">Log out</span>
        </div>
    </div>
</div>