<div>
    <div *ngIf="isVisible" class="glass" [ngClass]="{ 'active' : isGlassEffect }"></div>
    <nav *ngIf="isVisible" class="navbar navbar-light">
        <div class="einvoice-logo-wrapper d-flex align-items-center">
            <div id="select-wrapper" class="d-flex flex-row align-items-center input-container">
                <svg class="einvoice-logo"></svg>
                <div class="d-flex flex-column justify-content-start">
                    <select id="company" name='company' (change)="updateState()" [(ngModel)]="selectedCompany">
                        <option *ngFor="let e of employments" [ngValue]="e">{{e.companyName}}</option>
                    </select>
                </div>
                <svg id="arrow" xmlns:i="&amp;ns_ai;" xmlns="http://www.w3.org/2000/svg" fill="#a2a2a2" version="1.2" viewBox="-300 302 16 16" xml:space="preserve"><switch><g i:extraneous="self"><path d="M-296.49 308.5h9l-4.51 4.99-4.49-4.99z"/></g></switch></svg>
            </div>
        </div>
        <div class="nav-items d-flex flex-row align-items-center">
            <span class="nav-item" *ngIf="roles.includes('COMPANY_OWNER') || roles.includes('ADMIN') || roles.includes('INCOMING_INVOICE_USER') || roles.includes('OUTGOING_INVOICE_USER')" [ngClass]="selectedButton == 'invoices' ? 'nav-item-selected' : 'nav-item'" (click)="selectButton('invoices')" [routerLink]="['/invoices']">Invoices</span>
            <span class="nav-item" *ngIf="roles.includes('COMPANY_OWNER') || roles.includes('ADMIN')" [ngClass]="selectedButton == 'users' ? 'nav-item-selected' : 'nav-item'" (click)="selectButton('users')" [routerLink]="['/users']">Users</span>
            <span class="nav-item" *ngIf="roles.includes('COMPANY_OWNER') || roles.includes('ADMIN')" [ngClass]="selectedButton == 'companies' ? 'nav-item-selected' : 'nav-item'" (click)="selectButton('companies')" [routerLink]="['/companies']">Companies</span>
            <span class="nav-item" (click)="logout()">Log out</span>
        </div>
        <svg class="navbar-menu" (click)="toggleDropdownMenu()"></svg>
    </nav>
    <div class="mobile-nav">
        <div class="overlay" [ngClass]="{'overlay-visible' : dropdownMenuVisible}" (click)="toggleDropdownMenu()"></div>
        <div class="nav-items-mobile d-flex flex-column" [ngClass]="{'nav-items-mobile-visible' : dropdownMenuVisible}">
            <span class="nav-item-mobile mt-2" *ngIf="roles.includes('COMPANY_OWNER') || roles.includes('ADMIN') || roles.includes('INCOMING_INVOICE_USER') || roles.includes('OUTGOING_INVOICE_USER')" [ngClass]="selectedButton == 'invoices' ? 'nav-item-selected' : 'nav-item'" (click)="selectButton('invoices')" [routerLink]="['/invoices']">Invoices</span>
            <span class="nav-item-mobile" *ngIf="roles.includes('COMPANY_OWNER') || roles.includes('ADMIN')" [routerLink]="['/users']">Users</span>
            <span class="nav-item-mobile" *ngIf="roles.includes('COMPANY_OWNER') || roles.includes('ADMIN')" [routerLink]="['/companies']">Companies</span>
            <span class="nav-item-mobile" (click)="logout()">Log out</span>
        </div>
    </div>
</div>