<div class="d-flex flex-column content">
    <div class="d-flex flex-row wrapper">
        <div class="toolbar">
            <button class="btn ps-0 shadow-none" [ngClass]="selectedButton == 'new-invoice' ? 'toolbar-btn' : 'btn-unselected'" (click)="selectButton('new-invoice')">Create invoice</button>
            <button class="btn ps-0 shadow-none" [ngClass]="selectedButton == 'outgoing-invoices' ? 'toolbar-btn' : 'btn-unselected'" (click)="selectButton('outgoing-invoices')">Outgoing invoices</button>
            <button class="btn ps-0 shadow-none" [ngClass]="selectedButton == 'incoming-invoices' ? 'toolbar-btn' : 'btn-unselected'" (click)="selectButton('incoming-invoices')">Incoming invoices</button>
        </div>
    </div>
    <!-- <app-companies-table *ngIf="selectedButton == 'new-invoice'"></app-companies-table> -->
    <!-- <app-clients-table *ngIf="selectedButton == 'outgoing-invoices'"></app-clients-table> -->
    <!-- <app-register-company *ngIf="selectedButton == 'incoming-invoices'"></app-register-company> -->
</div>