<div class="mat-elevation-z1 wrapper">
    <mat-form-field>
        <mat-label><mat-icon>search</mat-icon><span class="align-top">  Enter name, tax id number or registration number</span></mat-label>
        <input matInput type="text" [(ngModel)]="search" (input)="searchCompanies()">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef> Company name </th>
        <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="companyTaxIdentificationNumber">
        <th mat-header-cell *matHeaderCellDef> Tax identification number </th>
        <td mat-cell *matCellDef="let element"> {{element.taxIdentificationNumber}} </td>
      </ng-container>
  
      <ng-container matColumnDef="companyRegistrationNumber">
        <th mat-header-cell *matHeaderCellDef> Company registration number </th>
        <td mat-cell *matCellDef="let element"> {{element.companyRegistrationNumber}} </td>
      </ng-container>
  
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> Phone number </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
    </mat-paginator>
  
  </div>