<div class="d-flex flex-column align-items-center e-container">
    <div class="container text-center header">Assign or remove roles</div>

    <div class="role-grid">
        <div class="d-flex align-items-center" *ngFor="let role of systemRoles">
            <label><input class="checkbox" type="checkbox" formArrayName="roles"
                    [checked]="assignRolesForm.controls['roles'].value.includes(role)"
                    (value)="role"
                    (change)="roleChanged($event, role)" />
                <span class="checkbox-label">{{ role.name }}</span>
            </label>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-between w-100">
        <app-secondary-button text="Cancel" (click)="close()" class="first"></app-secondary-button>
        <app-primary-button text="Confirm" (click)="confirmRoleSelection()" class="second"></app-primary-button>
    </div>
</div>