@import 'src/styles/main.scss';

.header{
    color: color(blue);
    font-weight: bold;
    font-size: $h5-size;
}

.first{
    width: 100%;
    margin-right: 10px;
}

.second{
    width: 100%;
    margin-left: 10px;
}

.role-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 10px;
    color: color(darkgrey);
    margin: 20px;
}

    .checkbox{
        cursor: pointer;
        min-width: 16px;
        height: 16px;
    }

    .checkbox-label{
        margin-left: 5px;
        @include noselect;
    }
    